/*

transition-property: none | all | property name;
none -> no prperty will be transistioned
all -> all transistionable properties will be transitioned
propert name -> the transition property name

*/

body {
  text-align: center;
  text-transform: capitalize;
}
.transition {
  width: 100px;
  height: 100px;
  background-color: blue;
  /* transition-property: none; */
  /* transition-property: background-color; */
  /* transition-property: all; */
  transition-property: background-color, width, height;
  transition-duration: 0.5s;
}

.transition:hover {
  background-color: green;
  width: 300px;
  height: 300px;
}
