/*
transition-duration: time value -> this value can be second and milisecond s | ms;
e.g transition-duration: 3s;
e.g transition-duration: 300ms;
*/

body {
  text-align: center;
  text-transform: capitalize;
}
.transition {
  width: 100px;
  height: 100px;
}

.transition:hover {
  background-color: green;
  width: 300px;
  height: 300px;
}
