/*
transition-timing-function: steps(n)
transition-timing-function: steps(n,j)
n->number of steps
j-> jump keywords -> start || end
*/

body {
  text-align: center;
  text-transform: capitalize;
}
.transition {
  width: 150px;
  margin: 10px;
  padding: 10px;
  background-color: red;
  transition-property: margin-left;
  transition-duration: 2s;
}

.container:hover .transition {
  margin-left: 500px;
}

.steps-one{
  transition-timing-function: steps(2);
}
.steps-two{
  /* transition-timing-function: steps(2,start); */
   transition-timing-function: steps(5,end); 
}
