/*
transition-timing-function: predefind kewords
-> ease
-> ease-in
-> ease-out
-> ease-in-out
-> linear
-> step-start
-> step-end
*/

body {
  text-align: center;
  text-transform: capitalize;
}
.transition {
  width: 100px;
  margin: 10px;
  padding: 10px;
  background-color: red;
  transition-property: margin-left;
  transition-duration: 2s;
}
.ease {
  transition-timing-function: ease;
}
.container:hover .transition {
  margin-left: 500px;
}
.ease-in {
  transition-timing-function: ease-in;
}
.ease-out {
  transition-timing-function: ease-out;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
}
.linear {
  transition-timing-function: linear;
}
.step-start {
  transition-timing-function: step-start;
}
.step-end {
  transition-timing-function: step-end;
}
