/*
transition-duration: time value -> this value can be second and milisecond s | ms;
e.g transition-duration: 3s;
e.g transition-duration: 300ms;
*/

body {
  text-align: center;
  text-transform: capitalize;
}
.transition {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: red;
  /* transition-property: all; */
  transition-property: backgroud-color, width, height;
  transition-duration: 2s, 3s, 1s;
}

.transition:hover {
  background-color: green;
  width: 200px;
  height: 200px;
}
