* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff4d2;
  padding: 1rem;
  text-transform: capitalize;
}

.container {
  width: 90%;
  height: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}
.container:nth-child(odd) {
  background-color: #e5d1fa;
}
.container:nth-child(even) {
  background-color: #ecf2ff;
}
button {
  font-family: inherit;
  font-size: 1rem;
  margin: 0.8rem;
  padding: 0.5rem;
  text-transform: capitalize;
  border: 0;
  background-color: #ffd4d4;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 0.2rem;
}
.buttons {
  display: flex;
  flex-direction: row;
}

.buttons span {
  z-index: 2;
  position: relative;
}
h1 {
  font-size: 4rem;
  font-weight: 800;
}
/*******************Scale Buton Effect***********************/
.scale button {
  transition: transform 0.25s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}
.shrink:hover {
  transform: scale(0.8);
}

/**********************Swip Fill Left And Right Effects****************/
.left-fill {
  overflow: hidden;
}
.right-fill {
  overflow: hidden;
}
.left-fill::before {
  content: "";
  position: absolute;
  background-color: #ffffe8ed;
  width: 100%;
  height: 100%;
  left: -100%;
  z-index: 0;
  top: 0;
  transition: left 0.5s;
  z-index: 1;
}
.right-fill::before {
  content: "";
  position: absolute;
  background-color: #ffffe8ed;
  width: 100%;
  height: 100%;
  right: -100%;
  z-index: 0;
  top: 0;
  transition: right 0.5s;
  z-index: 1;
}
.left-fill:hover:before {
  left: 0;
}
.right-fill:hover:before {
  right: 0;
}
/*****************Swip Fill Bottom And Top Effects********************/

.top-fill {
  overflow: hidden;
}
.bottom-fill {
  overflow: hidden;
}
.top-fill::before {
  content: "";
  position: absolute;
  background-color: #ffffe8ed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
  top: -100%;
  transition: top 0.5s;
  z-index: 1;
}
.bottom-fill::before {
  content: "";
  position: absolute;
  background-color: #ffffe8ed;
  width: 100%;
  height: 100%;
  right: 0%;
  z-index: 0;
  bottom: -100%;
  transition: bottom 0.5s;
  z-index: 1;
}
.top-fill:hover:before {
  top: 0;
}
.bottom-fill:hover:before {
  bottom: 0;
}

/**********************Slice Effect In Vertical Direction**************************/
.slice-fill {
overflow: hidden;
}
.slice-fill::before {
  content: "";
  position: absolute;
  background-color: #ffffe8ed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
  top: -100%;
  transition: top 0.5s;
  z-index: 1;
}
.slice-fill::after {
  content: "";
  position: absolute;
  background-color: #ffffe8ed;
  width: 100%;
  height: 100%;
  right: 0%;
  z-index: 0;
  bottom: -100%;
  transition: bottom 0.5s;
  z-index: 1;
}
.slice-fill:hover:before {
  top: -50%;
}
.slice-fill:hover::after {
  bottom: -50%;
}
.slice-half-fill{
  overflow: hidden;
}
.slice-half-fill::before {
  content: "";
  position: absolute;
  background-color: #ffffe8ed;
  width: 50%;
  height: 100%;
  left: 0;
  z-index: 0;
  top: -100%;
  transition: top 0.5s;
  z-index: 1;
}
.slice-half-fill::after {
  content: "";
  position: absolute;
  background-color: #ffffe8ed;
  width: 50%;
  height: 100%;
  right: 0%;
  z-index: 0;
  bottom: -100%;
  transition: bottom 0.5s;
  z-index: 1;
}
.slice-half-fill:hover:before {
  top: 0%;
}
.slice-half-fill:hover::after {
  bottom: 0%;
}