/*
elements -> block level and inline
transforms -> block levels
non-transforms -> inline levels
*/
.wrapper {
  width: 300px;
  height: 300px;
  border: 1px dashed red;
  margin: 200px auto;
}

.inner {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  transform: rotate(10deg);
  display: inline-block;
}
