/*
transform-origin -> changing the transform origin
transform-origin -> center center | 50% 50%;
*/
.wrapper {
  width: 300px;
  height: 300px;
  border: 1px dashed red;
  margin: 200px auto;
}

.inner {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  transform-origin: top left;
  transform: rotate(10deg);
}
